@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background: #ed213a;
  background: -webkit-linear-gradient(to right, #93291e, #ed213a);
  background: linear-gradient(to right, #93291e, #ed213a); */

  /* background-color: #f1f1f4; */
}

body {
  background: #dce35b;
  background: -webkit-linear-gradient(to right, #45b649, #dce35b);
  background: linear-gradient(to right, #45b649, #dce35b);
}

/* body {
  background: #00c3ff;
  background: -webkit-linear-gradient(to right, #ffff1c, #00c3ff);
  background: linear-gradient(to right, #ffff1c, #00c3ff);
} */

.par {
  font-family: 'Roboto';
  font-weight: 400;
}
.head {
  font-family: 'Oswald';
}
