@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'cssVariables';
@import 'animations';
html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(229, 231, 235);
  overflow-x: hidden;
}
// zeleni gradient
//background:#dce35b;
// linear-gradient(90deg,#45b649,#dce35b)

.wrapper {
  // background-image: url('/animals/pexels-bekka-mongeau.jpg');
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: top;
  // background: #ed213a;
  // background: -webkit-linear-gradient(to right, #93291e, #ed213a);
  // background: linear-gradient(to right, #93291e, #ed213a);
}

// body {
//   background: #dce35b;
//   background: -webkit-linear-gradient(to right, #45b649, #dce35b);
//   background: linear-gradient(to right, #45b649, #dce35b);
// }

/* body {
  background: #00c3ff;
  background: -webkit-linear-gradient(to right, #ffff1c, #00c3ff);
  background: linear-gradient(to right, #ffff1c, #00c3ff);
} */

a {
  font-family: $primary-font;
}

ul {
  font-family: $primary-font;
}

h1,
h2,
h3 {
  font-family: $primary-font;
}

span {
  font-family: $primary-font;
}

.par {
  font-family: $primary-font;
  font-weight: 400;
  // font-size: 1.15rem;
}

.head {
  font-family: $primary-font;
  font-weight: 900;
}

.search-input {
  animation: fadeIn 0.3s ease-out;
  font-family: $mono-font;
}

.shopping-cart {
  animation: fadeIn 0.3s ease-in-out;
}
