@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,900;1,400;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background: #ed213a;
  background: -webkit-linear-gradient(to right, #93291e, #ed213a);
  background: linear-gradient(to right, #93291e, #ed213a); */

  /* background-color: #f1f1f4; */
}

body {
  background: #dce35b;
  background: -webkit-linear-gradient(to right, #45b649, #dce35b);
  background: linear-gradient(to right, #45b649, #dce35b);
}

/* body {
  background: #00c3ff;
  background: -webkit-linear-gradient(to right, #ffff1c, #00c3ff);
  background: linear-gradient(to right, #ffff1c, #00c3ff);
} */

a {
  font-family: 'Alegreya Sans';
}
h1,
h2,
h3 {
  font-family: 'Alegreya Sans';
}

span {
  font-family: 'Alegreya Sans';
}

.par {
  font-family: 'Alegreya Sans';
  font-weight: 400;
  font-size: 1rem;
}
.head {
  font-family: 'Alegreya Sans';
  font-weight: 900;
}
